<% provide(:in_board, true) -%>
<% provide(:board_name, "_ABOUT") -%>
<div class="section about">

<strong><i>About Us</i></strong>
<div class="section about_us">

<br>
<i>This is a place holder for the 'about us' section<i>

</div>

<strong>About Comm Comm</strong>
<div class="section about_comm_comm">



<strong>Comm Comm stands for the community communicator.</strong>
<br>
<br>
It is aimed at small communities that place an emphasis on communication. 
<br>
We believe in actual communication rather than the feeling of being connected (see facebook). 


<br>
<br>
<strong><i>Comm Comm's philosophy</i></strong>
<br>

<strong>1.</strong> Communication is the foundation of community
<br>
<strong>2.</strong> Comm comm is made for small communities not large groups
<br>
<strong>3.</strong> The site should not encourage divisions in the community

</div>
</div>
