<% provide(:in_board, true) -%>
<% provide(:board_name, "_ABOUT") -%>
<div class=section>


<div class=section>
<div class=section_heading>About Us</div>

<br>
<i>This is a place holder for the 'about us' section</i>

</div>


<div class=section>
<div class=section_heading>About Comm Comm</div>

<br>
<i><strong>Comm Comm stands for the community communicator.</strong></i>

<br>
<br>
It is aimed at small communities that place an emphasis on communication. 
<br>
We believe in actual communication rather than the feeling of being connected (see facebook). 


<br>
<br>
<strong><i>Comm Comm's philosophy</i></strong>
<br>
<br>
<strong>1.</strong> Communication is the foundation of community
<br>
<strong>2.</strong> Comm comm is made for small communities not large groups
<br>
<strong>3.</strong> The site should not encourage divisions in the community

</div>
</div>
