<% provide(:tab_id, "_ABOUT") -%>



<div class=section>
    <div class=section_heading>About Us</div>
    <p><i>We are <a href="http://www.westmont.edu/_academics/departments/computer_science/">Westmont Computer Science</a></i></p>
</div>


<div class=section>
    <div class=section_heading>About the Community Communicator</div>
  
    <p>This software was made to scratch the itch that lies right between email, web forums, and IRC.  Unlike email, it is very easy to send messages to many people, and they arrive quickly, if the recipients are paying attention.  Unlike web forums, Comm Comm is very simple to use.  All information relevant to your usage of the site is presented on one page.  Unlike IRC, Comm Comm does not require a specialized client program.  It also has next to no learning curve, and lets you selectively make certain posts more permanent than others.</p>
  
    <p>Here are some features Comm Comm has:
    <ul>
        <li>Live AJAX update</li>
        <li>Comprehensive activity indicators, so you can always know if something's going on
        <li>You can pin posts to make them stick around indefinitely, and unpin them when you no longer need them around</li>
        <li>You can use bbcode in your posts.</li>
        <li>You can mail important posts to a selectable set of users, in case they're not logged on and regularly checking the site</li>
        <li>Everything is private among registered users by default</li>
        <li>You can set permissions for different kinds of actions on users; there is no builtin concept of an admin</li>
    </ul></p>
  
    <p>Here are some things Comm Comm purposefully avoids:
    <ul>
        <li>The ability to delete or edit posts that have been made.  Rewriting history is confusing and is bad for the community.  You can hide a post's content in some situations, though.</li>
        <li>Admin-only boards.  Comm Comm is made for small enough communities that there is no need for secrecy among the members of the group.</li>
        <li>Systematic enforcing of rules.  That's a job for humans, not computers.</li>
        <li>Private messages.  That's what email is for.</li>
    </ul></p>

    <p>Some things to remember while using this site:
    <ul>
    <li>If you are a member of a Comm, you have the responsibiility to be trustworthy in the eyes of your community.  The system cannot prevent you from using it for the wrong purposes, but the community can.</li>
    <li>If there are conflicts between members of the community, they should be mature and work it out among themselves, within the community.  They shouldn't need a computer to intervene for them.</li>
    <li>Although you can perform many actions, almost every action can be undone.  When it comes to small internet communities, forgiveness is a better principle to work under than permission.</li>
    <li>Comm Comm was made with Christian communities in mind, which is one of the main influences on the philosophies that are explained above.  The site works best when everyone involved remembers their social graces, and the virtues of love, humility, patience, etc.</li>
    </ul></p>
</div>

