<% provide(:in_board, true) -%>
<% provide(:board_name, "_ABOUT_US") -%>
<div class="section about">
    <strong>About Us</strong>
    <br><br>

    <i>This is currently a place holder for the 'About Us' page.</i>
</div>
