<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>Old post list for AJAX use</title></head>
<body>
    <div id="old_posts" class="post_list">
    <% for p in @old_posts -%>
    <%= render 'post/view', post: p, pinned: false, user: @user -%>
    <% end -%>
    </div>
    <% if @old_posts and @old_posts.length >= MainController::PPP -%>
        <div id="new_earliest"><%= @old_posts.first.id %></div>
    <% end -%>
</body>
</html>
