<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>Post editing form</title></head>
<body>
<%= render 'post/edit', post: @post, pinned: true, user: @user -%>
</body>
</html>
