<div class="misc_content">
    <h4>Please log in to use this site.</h4>
    <% if params["state"] == "incorrect" -%>
    <div style="color:red">Sorry, the email or the password was a bit wrong.</div>
    <% end %>
    <%= form_tag "/login/login", class: "credentials_form" do -%>
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </div>
        <button type="submit" id="login">Enter</button>
    <% end %>
    <div class=request_invitation>
        <a href="/login/signup" id="request">Request an Invitation</a>
    </div>
</div>
