<div class="misc_content">
    <h4>Please log in to use this site.</h4>
    <div class=login_error><%=params['error']||''%></div>
    <div class=login_notice><%=params['notice']||''%></div>
    <%= form_tag "/login/login", class: "credentials_form" do -%>
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </div>
        <button type="submit">Enter</button>
    <% end %>
    <div class=request_invitation>
        <a href="/login/signup">Request an Invitation</a>
    </div>
</div>
