<div class="section journey">
<div class=section_heading>Your request has been submitted.</div>
    <div class=login_notice>
        Please wait for the owners to review your account.
    </div>
</div>
