<div class="section signup">
<div class=section_heading>Please fill out this form to request an invitation.</div>
    <div class=login_notice>This website is invitation-only.  If the owners do not know you, you will not be able to join.</div>
    <div class=login_error><%=params['error']||''%></div>
    <%= form_tag "/login/journey", class: "signup_form" do -%>
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </div>
        <div>
            <label for="confirm_password">Confirm password:</label>
            <input type="password" name="confirm_password">
        </div>
        <button type="submit" id="submit">Submit</button>
    <% end %>
</div>
