<div class="misc_content">
    <h3>Please fill out this form to request an invitation.</h3>
    <% if params["state"] == "password_mismatch" -%>
    <div style="color:red">Sorry, your password confirmation didn't match your password.</div>
    <% end %>
    <%= form_tag "/login/journey", class: "credentials_form" do -%>
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password">
        </div>
        <div>
            <label for="confirm_password">Confirm password:</label>
            <input type="password" name="confirm_password">
        </div>
        <button type="submit" id="submit">Submit</button>
    <% end %>
</div>
