
 /* PUT FAST-TWEAK-WORTHY SETTINGS HERE */


$site-background: url('https://cas.westmont.edu/themes/mywestmont/images/campus_bright.jpg') no-repeat left top fixed;

$board-bg-color: rgba(255, 255, 255, 0.8);
$navigation-text-color: #000000;
$navigation-you-are-color: #9f009f;

$post-bg-color: #ffffff;
$selected-bg-color: #ffffcf;

$roundness-x: 0.6em;
$roundness-y: 0.6em;

// cs stands for color scheme
$cs-normal-header: #00007f;
$cs-normal-hidden: #5f5fbf;
$cs-normal-reference: #00007f;
$cs-normal-indicator: #9f9fff;

$cs-event-header: #007f00;
$cs-event-reference: #007f00;
$cs-event-indicator: #7fff7f;

$cs-yell-header: #bf3f00;
$cs-yell-hidden: #cf7f5f;
$cs-yell-reference: #007f00;
$cs-yell-indicator: #ffbf5f;

$cs-mention-reference: #9f009f;
$cs-mention-indicator: #df7fff;



