/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* variables */
/*
$main-color: #abdaf5;
$secondary-color: #f5a4c3;
$third-color: #fef6a8;
*/
body {
    overflow: hidden;
}

.navigation {
    position: absolute;
    left: 0;
    top: 0;
    width: 12em;
    bottom: 0;
    overflow: hidden;
}
.navigation_top {
    overflow: auto;
}

.site_logo {
    font-weight: bold;
    font-size: 1.4em;
    padding: 0.5em;
    text-align: center;
    border-right: 1px solid black;
}
.session_info {
    border-right: 1px solid black;
    padding-bottom: 2em;
}
.you_are {
    text-align: center;
}
.identity {
    text-align: center;
    color: #00007f;
}
.logout {
    margin-top: 1em;
    text-align: center;
}

.content {
    position: absolute;
    left: 12em;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.topic_tabs {
    margin-left: 1em;
}
.topic_tab {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    border: 1px solid black;
    border-top-left-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
    margin-top: -1px;
    color: black;
    text-decoration: none;
    height: 2em;
    text-align: right;
    line-height: 2em;
}
.topic_tab.current {
    border: 2px solid black;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: -1px;
    padding-right: 1px;
    border-right: 0px;
    font-weight: bold;
}
.tab_gap {
    height: 1em;
    border-right: 1px solid black;
}

.indicator {
    float: right;
    width: 0em;
    height: 0em;
    position: relative;
    left: 0.5em;
    border: 0.5em solid;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 0.4em;

    color: #ffffff;
}
.indicator.got_post {
    color: #9f9fff;
}
.indicator.got_event {
    color: #7fff7f;
}
.indicator.got_yell {
    color: #ffbf5f;
}
.indicator.got_reply {
    color: #df7fff;
}
.topic_tab.current .indicator {
    color: #ffffff;
}

.navigation_bottom {
    height: 100%;
    border-right: 1px solid black;
}

.misc_content {
    margin: 2em;
}

.section {
    margin: 1em 1em;
    border: 1px solid black;
    border-radius: 0.6em;
    padding: 0.5em 1em;
}
.section_heading {
    font-weight: bold;
    margin-bottom: 0.4em;
    margin-left: 1em;
}
.section_heading:last-child {
    margin-bottom: 0;
}

