// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
    width: 23em;
    padding-bottom: 0.8em;
}
.login_form label {
    display: inline-block;
    clear: both;
    width: 6em;
    margin-left: -1em;
    text-align: right;
    padding-right: 0.5em;
    line-height: 1.6em;
}
.login_form input {
    width: 16em;
}
.login_form button {
    margin-top: 0.2em;
    margin-left: 3.5em;
}

.request_invitation {
    margin-left: 3em;
}

.signup {
    width: 27em;
    padding-bottom: 0.8em;
}
.signup_form label {
    display: inline-block;
    clear: both;
    width: 10em;
    margin-left: -1em;
    text-align: right;
    padding-right: 0.5em;
    line-height: 1.6em;
}
.signup_form input {
    width: 16em;
}
.signup_form button {
    margin-top: 0.2em;
    margin-left: 7em;
}
.request_invitation {
    margin-top: 1em;
}

.journey {
    text-align: center;
    width: 26.5em;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.login_error {
    color: #7f0000;
    margin: 1em 0;
}
.login_notice {
    color: #3f3f3f;
    margin: 1em 0;
}
