// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@import 'vars';


.stream {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    overflow: auto;
}

.pinned_posts {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    overflow: auto;
}

.backlog_area {
    text-align: center;
    margin-top: 1em;
}

.post {
    clear: both;
    margin: 0.5em 1em;
    border: 1px solid black;
    border-radius: #{$roundness-x}/#{$roundness-y};
    background-color: $post-bg-color;
}

.stream .post.pinned,
.post.hidden,
.post.event {
    border: none;
    background-color: inherit;
    border-left: 1px solid $board-bg-color;
    border-right: 1px solid $board-bg-color;
}

.post.showing {
    background-color: $selected-bg-color;
}


.post_info {
    display: block;
    margin-bottom: 0.2em;
    color: $cs-normal-header;
}
.stream .post.pinned .post_info,
.post.hidden .post_info {
    color: $cs-normal-hidden;
}
.post.event .post_info {
    color: $cs-event-header;
}
.post.yelled {
    border: 2px solid $cs-yell-header;
}
.post.yelled .post_info {
    color: $cs-yell-header;
    font-weight: bold;
}
.stream .post.pinned.yelled .post_info {
    color: $cs-yell-hidden;
    font-weight: bold;
}

.post_id {
    float: left;
    margin-left: 1em;
    width: 4em;
}

.post_owner {
    display: inline;
}
.post_event {
    display: inline;
    color: #000000;
}

.post_date {
    display: block;
    float: right;
    margin-right: 0.6em;
}
.post:hover .post_date {
    display: none;
}

.post_buttons {
    display: none;
    float: right;
    margin-right: 0.4em;
}
.post:hover .post_buttons {
    display: block;
}

.post_buttons form {
    display: inline;
 }

.post_buttons button {
    display: inline;
    padding: none;
    margin: none;
    border: none;
    background: none;
    cursor: pointer; cursor: hand;
    line-height: 1em;
    padding-left: 0em;
    color: inherit;
}

.post_content {
    clear: both;
    font-size: 1.1em;
    margin: 0.2em 0.5em;
    white-space: pre-wrap;
    overflow-x: auto;
}
.stream .post.pinned .post_content,
.post.hidden .post_content,
.post.event .post_content {
    display: none;
}

.error_area {
    margin: 0.2em 2em;
    white-space: pre-wrap;
    text-align: center;
    color: red;
}

.new_post_form {
    clear: both;
    margin: 0em 1em;
}

.new_post_form textarea {
    font-family: inherit;
    font-size: inherit;
    display: block;
    width: 99%;
    height: 6em;
    margin-left: auto;
    margin-right: auto;
    resize: vertical;
}

.new_post_form button {
    width: 12em;
    margin-left: 0.1em;
}

.postref {
    cursor: pointer; cursor: hand;
    color: $cs-normal-reference;
}
.postref.event {
    color: $cs-event-reference;
}
.postref.at_you {
    color: $cs-mention-reference;
}
.postref:hover {
    text-decoration: underline;
}


/* SETTINGS */
.profile_form div {
    line-height: 1.2em;
    margin-left: -1em;
}

.profile_form label {
    display: inline-block;
    width: 8em;
    text-align: right;
    line-height: 1.6em;
    padding-right: 0.6em;
}

.board_row .board_id,
.user_row .user_id {
    display: inline-block;
    width: 3em;
}
.board_row .board_order {
    display: inline-block;
    width: 6em;
}
.board_row .board_order input {
    width: 5em;
}
.board_row .board_name {
    display: inline-block;
    width: 11em;
}
.board_row .board_name input {
    width: 10em;
}

.user_row .user_email {
    display: inline-block;
    min-width: 16em;
}
.user_row .user_name {
    display: inline-block;
    min-width: 16em;
}


 /* MAIL */


.recipient_name {
    display: inline-block;
    min-width: 10em;
    margin-right: 0.6em;
}
.mail_form button {
    margin: 0.8em 2em;
}

