// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-color: #2d7bc9;
$secondary-color: adjust-hue($main-color, 120deg); //#f5a4c3;
$third-color: adjust-hue($main-color, 240deg); //#fef6a8;


.stream {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    overflow: auto;
}

.pinned_posts {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    overflow: auto;
}

.post_list {
}

.post {
    clear: both;
    margin: 0.5em 1em;
    border: 1px solid black;
    border-radius: 0.6em;
}

.stream .post.pinned,
.post.event {
    border: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
}


.post_info {
    display: block;
    min-height: 1.2em;
    margin-bottom: 0.2em;
    color: #00007f;
}
.stream .post.pinned .post_info {
    color: #7f7fbf;
}
.post.event .post_info {
    color: #007f00;
}
.post.yelled {
    border: 2px solid #bf3f00;
}
.post.yelled .post_info {
    color: #bf3f00;
    font-weight: bold;
}
.stream .post.pinned.yelled .post_info {
    color: #cf7f5f;
    font-weight: bold;
}

.post_id {
    float: left;
    margin-left: 1em;
    width: 4em;
}

.post_owner {
    display: inline;
}
.post_event {
    display: inline;
    color: #000000;
}

.post_date {
    display: block;
    float: right;
    margin-right: 0.6em;
}
.post:hover .post_date {
    display: none;
}

.post_buttons {
    display: none;
    float: right;
    margin-right: 0.4em;
}
.post:hover .post_buttons {
    display: block;
}

.post_buttons form {
    display: inline;
 }

.post_buttons button {
    display: inline;
    padding: none;
    margin: none;
    border: none;
    background: none;
    cursor: pointer; cursor: hand;
    line-height: 1em;
    padding-left: 0em;
    color: #00007f;
}

.post_content {
    clear: both;
    font-size: 1.2em;
    margin: 0.2em 0.5em;
    white-space: pre-wrap;
}
.stream .post.pinned .post_content,
.stream .post.event .post_content {
    display: none;
}

.error_message {
    margin: 0.2em 2em;
    white-space: pre-wrap;
    color: red;
}

.new_post_form {
    clear: both;
    margin: 0.5em 1em;
}

.new_post_form textarea {
    font-family: inherit;
    font-size: inherit;
    display: block;
    width: 99%;
    height: 6em;
    margin-left: auto;
    margin-right: auto;
    resize: vertical;
}

.new_post_form button {
    width: 12em;
    margin-left: 0.1em;
}


/* SETTINGS */

.section {
    margin: 1em 1em;
    border: 1px solid black;
    border-radius: 0.6em;
    padding: 0.5em 1em;
}
.section_heading {
    font-weight: bold;
    margin-bottom: 0.4em;
    margin-left: 1em;
}

.profile_form div {
    line-height: 1.2em;
    margin-left: -1em;
}

.profile_form label {
    float: left;
    width: 8em;
    text-align: right;
    vertical-align: middle;
    padding-right: 0.8em;
}
.profile_form input {
    vertical-align: middle;
}

.topic_row .topic_id,
.user_row .user_id {
    display: inline-block;
    width: 3em;
}
.topic_row .topic_name {
    display: inline-block;
    width: 11em;
}
.topic_row .topic_name input {
    width: 10em;
}

.user_row .user_email {
    display: inline-block;
    width: 16em;
}

